.login-form-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  padding: 0 2rem;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  display: none;
}

.login-form-container-active {
  display: block;
}

.login-form-container form {
  margin-top: 3rem;
  margin-left: 28%;
  max-width: 40rem;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-animation: fadeUp 0.4s linear;
  animation: fadeUp 0.4s linear;
  background-color: black;
  opacity: 0.8;
  -webkit-box-shadow: 0rem 1rem 1rem black;
          box-shadow: 0rem 1rem 1rem black;
  position: absolute;
}

h3 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #06962f;
  font-family: sans-serif;
  -webkit-filter: brightness(1.75);
          filter: brightness(1.75);
}

.box,
.create-box,
#username {
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  background: #ffffff;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  width: 100%;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.remember {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

label {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.btn,
.create-btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  height: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #27ae60;
  text-transform: capitalize;
}

.btn:hover,
.create-btn:hover {
  background-color: #06962f;
}

p {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: white;
}

.login-btn,
.create-btn-login {
  color: #27ae60;
  cursor: pointer;
  -webkit-filter: brightness(1.75);
          filter: brightness(1.75);
}

.login-btn:hover,
.create-btn-login:hover {
  text-decoration: underline;
}

.form2 {
  position: relative;
  top: 0;
  display: none;
}

.form2-active {
  display: block;
}

@media (max-width: 700px) {
  .login-form-container form {
    margin-left: 0%;
  }
}

.hidden {
  display: none;
}

.fav-result {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  background: url(../img/banner-3.png) 100% no-repeat;
  background-size: cover;
  overflow-y: scroll;
  padding-bottom: 8rem;
  display: none;
}

.fav-result-h {
  font-size: 1.3rem;
  font-family: cursive;
  color: #04e400;
}

.fav-active {
  display: block;
}

.fav-pic {
  width: 10rem;
}

.fav-meal-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3.5rem;
  padding: 1.5rem 3rem;
  -webkit-animation: fadeUp 0.5s linear;
          animation: fadeUp 0.5s linear;
}

.fav-item {
  border: 2px solid white;
  border-radius: 0.5rem;
  text-align: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
  background-color: black;
}

.fav-meal-heading {
  margin-top: 5rem;
  color: #351111;
  font-family: cursive;
  font-size: 3rem;
  text-align: center;
}

.remove-recipe {
  color: white;
  background-color: red;
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  margin-left: 1.8rem;
  border-radius: 50px;
  font-family: sans-serif;
  cursor: pointer;
  -webkit-box-shadow: 0rem 0.1rem 0.2rem rgba(255, 255, 255, 0.612);
          box-shadow: 0rem 0.1rem 0.2rem rgba(255, 255, 255, 0.612);
  text-decoration: none;
}

.remove-recipe:hover {
  background-color: #590000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  overflow: hidden;
}

.home-deactive {
  display: none;
}

.content {
  padding-left: 3rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 41rem;
}

.home .content span {
  font-size: 2rem;
  color: #27ae60;
}

.home-h {
  font-size: 4rem;
  color: #130f40;
  padding-top: 1rem;
}

.home-p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}

.image .home-img {
  width: 100%;
  margin-top: 5rem;
}

.order-btn {
  margin-top: 2rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.4rem;
  background-color: #365a00;
  border-radius: 50px;
  color: white;
  -webkit-box-shadow: 0rem 0.1rem 0.2rem rgba(255, 255, 255, 0.612);
          box-shadow: 0rem 0.1rem 0.2rem rgba(255, 255, 255, 0.612);
  text-decoration: none;
}

.order-btn:hover {
  background-color: #004000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home-h {
    font-size: 2rem;
  }
  .home-p {
    font-size: 1.5rem;
  }
}

.recipe-para {
  color: black;
}

.meal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #d8d8d8;
  background-color: #1c1a1a;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
  z-index: 100000000;
}

.meal-details::-webkit-scrollbar {
  width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.showRecipe {
  display: block;
}

.meal-details-content {
  margin: 2rem;
}

.meal-details-content p:not(.recipe-category) {
  padding: 1rem 0;
  color: antiquewhite;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.recipe-close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: white;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.9;
}

.recipe-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
  color: whitesmoke;
  font-size: 3rem;
  font-family: cursive;
}

.recipe-category {
  font-weight: 600;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  color: white;
}

.recipe-instruct {
  padding: 1rem 0;
}

.recipe-meal-img img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.recipe-link {
  margin-top: 4rem;
  text-align: center;
}

.recipe-link a {
  color: #13ff1f;
  font-size: 2rem;
  font-weight: 700;
  font-family: cursive;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-link a:hover {
  opacity: 0.8;
}

/*  */
.notFound {
  -ms-grid-columns: 1fr !important;
      grid-template-columns: 1fr !important;
  color: #130f40;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 2rem 3rem;
  background-color: #f1eeee;
  color: black;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.got {
  color: black;
  background-color: #47e147;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 100px;
  cursor: pointer;
}

#error {
  color: #fc0000;
  z-index: 1000000000;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 600;
}

.meal-result {
  overflow-y: scroll;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
}

.meal-result-h {
  font-size: 2rem;
  font-family: cursive;
  color: black;
}

.meal-pic {
  width: 100%;
}

.meal-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3.5rem;
  padding: 1.5rem 3rem;
  -webkit-animation: fadeUp 0.5s linear;
          animation: fadeUp 0.5s linear;
}

.meal-item {
  border: 2px solid black;
  border-radius: 0.5rem;
  text-align: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
  background-color: whitesmoke;
}

.search-recipe-btn,
.btn-b {
  background-color: rgba(15, 123, 44, 0.872);
  font-family: sans-serif;
  margin-top: 2rem;
  padding: 0.4rem 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgba(67, 92, 31, 0.578);
  border-radius: 50px;
  color: white;
  -webkit-box-shadow: 0rem 0.1rem 0.2rem rgba(255, 255, 255, 0.612);
          box-shadow: 0rem 0.1rem 0.2rem rgba(255, 255, 255, 0.612);
  text-decoration: none;
}

.search-recipe-btn:hover,
.btn-b:hover {
  background-color: #043c04;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.best-result {
  overflow-y: scroll;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  display: block;
  background: #000;
}

.best-result-h {
  font-size: 1.3rem;
  font-family: cursive;
  color: black;
}

.best-pic {
  width: 30%;
}

.best-meal-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3.5rem;
  padding: 1.5rem 3rem;
  -webkit-animation: fadeUp 0.5s linear;
          animation: fadeUp 0.5s linear;
}

.best-item {
  border: 2px solid black;
  border-radius: 0.5rem;
  text-align: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
  background-color: whitesmoke;
}

.best-meal-heading {
  margin-top: 5rem;
  color: #351111;
  font-family: cursive;
  font-size: 3rem;
  text-align: center;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin-top: 10rem;
  position: relative;
}

.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.about .content span {
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
  color: #27ae60;
}

.about .content .title {
  font-size: 3rem;
  padding-top: .5rem;
  color: #130f40;
}

.about .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.4rem;
  color: #666;
}

.about .content .icons-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .content .icons-container .icons {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  border-radius: .5rem;
  background: #fff;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.about .content .icons-container .icons h3 {
  font-size: 1.7rem;
  color: #130f40;
}

.about-img {
  width: 5rem;
}

.about-parallax-img {
  position: absolute;
  top: -9rem;
  left: -47rem;
  width: 80vw;
}

@media (max-width: 768px) {
  .about-parallax-img {
    top: 0;
    left: 0;
    width: 130%;
  }
}

.popular-result {
  overflow-y: scroll;
  margin: 3rem 3rem;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  display: block;
  background: #000;
}

.popular-result-h {
  font-size: 1.3rem;
  font-family: cursive;
  color: black;
}

.popular-pic {
  width: 100%;
}

.popular-meal-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3.5rem;
  padding: 1.5rem 3rem;
  -webkit-animation: fadeUp 0.5s linear;
          animation: fadeUp 0.5s linear;
}

.popular-item {
  border: 2px solid black;
  border-radius: 0.5rem;
  text-align: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
  background-color: whitesmoke;
}

.popular-meal-heading {
  margin-top: 5rem;
  color: #351111;
  font-family: cursive;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 300px) {
  .popular-result {
    margin: 2rem 0rem;
  }
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin: 0 auto;
}

.blogs .box-container .box {
  border-radius: 0.5rem;
  overflow: hidden;
}

.blogs .box-container .box:hover .image h3 {
  left: 1.5rem;
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blogs .box-container .box .image {
  position: relative;
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image h3 {
  position: absolute;
  z-index: 10;
  top: 1rem;
  left: -100%;
  border-radius: 0.5rem;
  background: #fff;
  color: #130f40;
  font-size: 1.5rem;
}

.blogs .box-container .box .image h3 i {
  padding-right: 0.5rem;
  color: #27ae60;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.blogs .box-container .box .content {
  padding: 2rem 1.5rem;
  background: #f7f7f7;
}

.blogs .box-container .box .content .tags {
  padding-bottom: 1rem;
}

.blogs .box-container .box .content .tags a {
  font-size: 1.5rem;
  color: #666;
  padding-right: 0.5rem;
}

.blogs .box-container .box .content .tags a:hover {
  color: #27ae60;
}

.blogs .box-container .box .content .tags a i {
  color: #27ae60;
  padding-right: 0.5rem;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.blogs .box-container .box .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.heading {
  margin-top: 8rem;
  color: #351111;
  font-family: cursive;
  font-size: 3rem;
  text-align: center;
}

.review {
  margin-top: 10rem;
  background-color: white;
}

.review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  padding: 0 5rem;
  margin-top: 4rem;
}

.review-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
}

.user-img {
  height: 12rem;
  width: 12rem;
  border-radius: 100px;
}

.user-p {
  color: #101010;
  font-size: 1rem;
  font-family: cursive;
  font-weight: 500;
}

.user-name {
  font-size: 1.5rem;
  color: #265708;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

.footers {
  margin-top: 5rem;
  background: -webkit-gradient(linear, left bottom, right top, from(#100e0e), to(rgba(39, 35, 35, 0))), url(../img/banner-3.png) 100%;
  background: linear-gradient(to right top, #100e0e, rgba(39, 35, 35, 0)), url(../img/banner-3.png) 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navi-list {
  padding: 2rem;
  list-style: none;
}

.navi-btn {
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  font-weight: bolder;
  display: block;
  text-decoration: none;
}

.navi-btn:hover {
  background: #47d310;
  color: lightgray;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.paragraph-f {
  display: block;
  color: #fdfafa;
  font-size: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.4;
}

.containers {
  display: block;
  position: relative;
}

.containers-deactiveate {
  display: none;
}

.headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  grid-column: 1/-1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0rem 1rem 1rem #f6f3f3;
          box-shadow: 0rem 1rem 1rem #f6f3f3;
  border-bottom: 2px solid green;
}

.logo {
  width: 8rem;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-items {
  margin: 0 2.5rem;
  list-style: none;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.nav-items:hover {
  color: #70b34d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
}

.i {
  margin: 0.5rem 1rem;
  list-style: none;
  font-size: 2rem;
  color: #062d51;
  list-style: none;
  text-decoration: none;
  padding: 1rem 0.8rem;
}

.i:hover {
  background-color: rgba(224, 217, 217, 0.436);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.menubar {
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
}

#menu {
  display: none;
}

@media (max-width: 415px) {
  .i {
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem;
  }
  .logo {
    width: 5rem;
    margin-left: 0.5rem;
  }
}

@media (max-width: 940px) {
  html {
    font-size: 65%;
  }
  #menu {
    display: block;
  }
  .hide {
    display: none;
  }
  header .nav_list {
    position: absolute;
    top: 10%;
    left: -120%;
    width: 100%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 6000;
  }
  header .nav_list.active {
    left: 0;
  }
  header .nav-items {
    padding: 1.3rem;
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.269);
    z-index: 6000;
  }
  header .nav-items:hover {
    color: goldenrod;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
    opacity: 0;
  }
}

.search-form-container {
  background: white;
  position: fixed;
  overflow-y: scroll;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  text-align: center;
  display: none;
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}

#search-box {
  width: 60%;
  height: 4rem;
  outline: none;
  border: none;
  border-bottom: 2px solid darkgreen;
  cursor: pointer;
}

.search-form-container form input {
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  color: #130f40;
  text-transform: none;
  padding-right: 1rem;
}

.search-form-container form label {
  font-size: 2rem;
  cursor: pointer;
  color: #130f40;
}

.i2:hover {
  color: #70b34d;
}

.search-form-container-active {
  display: block;
}

@media (max-width: 615px) {
  #search-box {
    width: 80%;
    height: 4rem;
  }
}

.heart {
  font-size: 2rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 1.7rem;
  line-height: 4.5rem;
  text-decoration: none;
  border-bottom: none;
}

.heart:hover {
  color: gold;
}
/*# sourceMappingURL=main.css.map */