@import "body/login";
@import "body/home";
@import "body/mealdetails";
@import "body/mealitem";
@import "body/bestmeal";
@import "body/about";
@import "body/popular";
@import "body/blog";
@import "body/review";
@import "body/footer";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 70%;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}
.containers {
  display: block;
  position: relative;
}
.containers-deactiveate {
  display: none;
}
.headers {
  display: flex;
  background-color: rgb(255, 255, 255);
  grid-column: 1/-1;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0rem 1rem 1rem rgb(246, 243, 243);
  border-bottom: 2px solid green;
}
.logo {
  width: 8rem;
}
.nav {
  &_list {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  &-items {
    margin: 0 2.5rem;
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: #70b34d;
      transition: 0.3s;
    }
  }
}
.icons {
  display: flex;
  padding: 0 1rem;
  //position: relative;
  // position: absolute;
}

.i {
  margin: 0.5rem 1rem;
  list-style: none;
  font-size: 2rem;
  color: rgb(6, 45, 81);
  list-style: none;
  text-decoration: none;

  padding: 1rem 0.8rem;

  &:hover {
    background-color: rgba(224, 217, 217, 0.436);
    transition: 0.3s;

    cursor: pointer;
  }
}
.menubar {
  // display: none;
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
}

#menu {
  display: none;
}

@media (max-width: 415px) {
  .i {
    
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem;
  }
  .logo {
    width: 5rem;
    margin-left: 0.5rem;
  }
}

@media (max-width: 940px) {
  html {
    font-size: 65%;
  }

  #menu {
    display: block;
  }
  .hide {
    display: none;
  }
  header .nav_list {
    position: absolute;
    top: 10%;
    left: -120%;
    width: 100%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 6000;
    //display: none;
  }
  header .nav_list.active {
    left: 0;
  }
  header .nav-items {
    padding: 1.3rem;
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    // display: inline-block;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.269);
    z-index: 6000;
    &:hover {
      color: goldenrod;
    }
  }
}
@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
    opacity: 0;
  }
}
.search-form-container {
  background: rgb(255, 255, 255);
  position: fixed;
  overflow-y: scroll;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  text-align: center;
  // margin-top: 1rem;
  display: none;
  animation: fadeUp 0.4s linear;
  //position: fixed;
}
#search-box {
  width: 60%;
  height: 4rem;
  outline: none;
  border: none;
  border-bottom: 2px solid darkgreen;
  cursor: pointer;
}
.search-form-container form input {
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  color: #130f40;
  text-transform: none;
  padding-right: 1rem;
}

.search-form-container form label {
  font-size: 2rem;
  cursor: pointer;
  color: #130f40;
}
.i2:hover {
  color: #70b34d;
}
.search-form-container-active {
  display: block;
}
@media (max-width: 615px) {
  #search-box {
    width: 80%;
    height: 4rem;
  }
}
