
.about {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
margin-top: 10rem;
position: relative;
  }
  

  .about .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .about .image img {
    width: 100%;
  }
  
  .about .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .about .content span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #27ae60;
  }
  
  .about .content .title {
    font-size: 3rem;
    padding-top: .5rem;
    color: #130f40;
  }
  
  .about .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.4rem;
    color: #666;
  }
  
  .about .content .icons-container {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .about .content .icons-container .icons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
    border-radius: .5rem;
    background: #fff;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    padding: 2rem;
    
  }
  
  .about .content .icons-container .icons h3 {
    font-size: 1.7rem;
    color: #130f40;
  }
  .about-img{
      width: 5rem;
  }
  .about-parallax-img {
    position: absolute;
    top: -9rem;
left: -47rem;
    width: 80vw;
  }
  @media (max-width: 768px) {
    .about-parallax-img {
      top: 0;
      left: 0;
      width: 130%;
    }
  }