.popular {
  &-result {
   // margin-top: 3rem;
   // padding: 0 5rem;
    // position: fixed;

    overflow-y: scroll;
margin: 3rem 3rem;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    display: block;
    background: #000;
    &-h {
      font-size: 1.3rem;
      font-family: cursive;
      color: rgb(0, 0, 0);
    }
  }
  &-pic {
    width: 100%;
  }
  &-meal-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    gap: 3.5rem;
    padding: 1.5rem 3rem;
    animation: fadeUp 0.5s linear;
  }
  &-item {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem;
    position: relative;
    background-color: rgb(245, 245, 245);
  }
  &-meal-heading {
    margin-top: 5rem;
    color: rgb(53, 17, 17);
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
  }
}


@media (max-width:300px){
  .popular-result{
    margin: 2rem 0rem;
  }
}

.review {
  margin-top: 10rem;
 background-color: white;
  &-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 0 5rem;
  margin-top: 4rem;
    //padding: 0 8rem;
  }
  &-box {
    flex: 1 1 30rem;
    text-align: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #f9f9f9;
    padding: 2rem;
  }
}
.user {
  &-img {
    height: 12rem;
    width: 12rem;
    border-radius: 100px;
  }
  &-p {
    color: rgb(16, 16, 16);
    font-size: 1rem;

    font-family: cursive;
    font-weight: 500;
  }
  &-name {
    font-size: 1.5rem;
    color: rgb(38, 87, 8);
    font-family: sans-serif;
    font-weight: 500;
    text-transform: capitalize;
  }
}