.review {
    margin-top: 10rem;
   background-color: white;
    &-container{
      display: flex;
      flex-wrap: wrap;
      gap: 2.5rem;
      padding: 0 5rem;
    margin-top: 4rem;
      //padding: 0 8rem;
    }
    &-box {
      flex: 1 1 30rem;
      text-align: center;
      border: 0.1rem solid rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      background: #f9f9f9;
      padding: 2rem;
    }
  }
  .user {
    &-img {
      height: 12rem;
      width: 12rem;
      border-radius: 100px;
    }
    &-p {
      color: rgb(16, 16, 16);
      font-size: 1rem;
  
      font-family: cursive;
      font-weight: 500;
    }
    &-name {
      font-size: 1.5rem;
      color: rgb(38, 87, 8);
      font-family: sans-serif;
      font-weight: 500;
      text-transform: capitalize;
    }
  }